.auth-container{
    width: 100%;
    height: 100vh;
}
.row{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto',sans-serif;
}
.img{
    background-image: url(/assets/bg-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.admin{
    background: blue;
    color: white !important;
    border: none;
   
    font-family: 'Roboto',sans-serif;
}
ul li{
    margin: 12px;
}
.doctor{
    background: purple;
    color: white !important;
    border: none;
   
    font-family: 'Roboto',sans-serif;
}
.form-outline .form-control ~ .form-label{
    position: absolute;
    top: -14px;

}
.patient{
    background: orangered;
    color: white !important;
    border: none;
    font-family: 'Roboto',sans-serif;
}
h5{
    margin: 2rem;
    font-size: 1.7rem;
    font-family: 'Roboto',sans-serif;

}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.col-md-7{
    margin-left: 9rem;
}
.form-outline .form-control{
    height: 4rem;
    border-bottom: 1px solid rgb(105, 97, 97);
    border-radius: 0;
}

form {
    margin-top: 4rem;

}
.nav-pills #admin-tab.active{
    background: rgb(8, 8, 218);
    color: white !important;
}
.nav-pills #doctor-tab.active{
    background: rgb(243, 60, 243);
    color: white !important;
}
.nav-pills #patient-tab.active{
    background: rgb(242, 116, 70);
    color: white !important;
}