*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgba(4, 98, 171, 0.6);
    //box-shadow: 0 5px 15px rgba(4, 98, 171, 0.6);
    color: white;
    z-index:999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    justify-items: center;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease;
}